/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;

  font-family: "gill-sans-nova", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  line-height: 85%;
  margin: 115px 0 64px;
}

header {
  padding-bottom: 265px;
  font-weight: 600;
  font-size: 18px;
}

.red-part {
  background: #D75F08;
  padding: 95px 0 100px;
}

nav {
  color: white;
}

.navigation {
  color: black;
  text-align: end;
}

.navigation a {
  text-decoration: none;
  margin-left: 64px;
}

.slogan {
  color: white;
  text-align: end;
  font-weight: 400;
}

.book {
  background: url(../img/header-resto.jpg);
  mix-blend-mode: hard-light;
  padding: 40px 0 563px;
  margin-top: -100px;
  margin-bottom: 45px;
}

main a, .book a {
  color: white;
  background: #D75F08;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 20px;
}

h2 {
  color: #D75F08;
  font-size: 30px;
  font-weight: 600;
  line-height: 85%;
  margin-bottom: 5px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  letter-spacing: 0.44px;
  margin-bottom: 115px;
}

h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 127%;
  letter-spacing: 0.44px;
}

ul {
  list-style: none;
}

.dark-part {
  background: #D75F08;
  padding: 0 40px 35px;
  color: white;
}

.variante-button {
  display: block;
  background: none;
  color: #D75F08;
  margin-bottom: 175px;
  text-align: end;
}

.dark-part img {
  mix-blend-mode: multiply;
  margin: -100px 0 30px;
  width: 170px;
}

.dark-part hr {
  border: 1px rgba(0, 0, 0, 0.20) solid;
}