/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;

  font-family: "gill-sans-nova", sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.container {
  padding: 0 30px;
}


h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  line-height: 85%;
  margin: 70px 0 40px;
}

header {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 100px;
}

.red-part {
  background: #D75F08;
  padding: 40px 0 100px;
}

nav {
  color: white;
}

.navigation {
  color: black;
  text-align: end;
}

.navigation a {
  text-decoration: none;
  margin-left: 64px;
}

.slogan {
  color: white;
  text-align: end;
  font-weight: 400;
}

.book {
  background: url(../img/header-resto.jpg) center;
  background-size: cover;
  mix-blend-mode: hard-light;
  aspect-ratio: 1.85;
  width: auto;
  padding: 20px;
  margin-top: -100px;
  margin-bottom: 10px;
}

.book a {
  display: block;
  background: #D75F08;
}

main a, .book a {
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
}

main a {
  background: #D75F08;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  color: #D75F08;
  font-size: 30px;
  font-weight: 600;
  line-height: 85%;
  margin: 25px 0 5px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  letter-spacing: 0.44px;
  margin-bottom: 60px;
}

h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 127%;
  letter-spacing: 0.44px;
}

ul {
  list-style: none;
}

.dark-part {
  background: #D75F08;
  padding: 230px 40px 35px;
  color: white;
}

hr {
  margin: 10px 0 5px;
}

.variante-button {
  display: block;
  background: none;
  color: #D75F08;
  margin: 0;
  text-align: end;
}

.big-margin-button {
  margin-bottom: 100px;
}

.poster {
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  width: 50%;
  margin: 0 auto -200px;
  display: block;
}

.dark-part hr {
  border: 1px rgba(0, 0, 0, 0.20) solid;
}

.color-light {
  background: #F8F5F3;
  padding-bottom: 100px;
}

.menu {
  text-align: center;
  margin-bottom: 20px;
}

.menu-img {
  margin: 50px 0 0 30px;
  box-shadow: 30px 30px 0 #D75F08;
}

.menu-img-big {
  margin: 180px 0 100px 0;
}

.orange-bloc {
  background: #D75F08;
  padding: 100px 0;
}

ul {
  color: white;
}

.horaires-section {
  background: url(../img/book-cinema.jpg) center;
  height: 368px;
  width: auto;
  margin-top: -150px;
  text-align: center;
}

.book-section {
  background: url(../img/book-resto.jpg) center;
  height: 368px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-section a {
  margin: 0;
}

/* footer */

footer {
  background: #D75F08;
  color: white;
  padding: 30px;
}

.logo {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4.2px;
  line-height: 85%;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
}

.infos-logo {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer a {
  display: block;
  text-align: end;
}